*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}
.msg{
	width: 75%;
	height: 30px;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #33ffff;
}
.h_panel,.login_banner {
    width: 1130px;
    margin: 0 auto;
}

.h_logo {
    width: 200px;
    height: 98px;
}

.h_logo a {
    display: block;
    height: 98px;
}

.login_banner_panel{
    width: 100%;
    height: 588px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 588px;
    position: relative;
}

.login_banner_panel .panel{
	width: 410px;
	min-height: 490px;
	margin-right: 0;
	margin-bottom: 0;
	position: absolute;
	top: 10%;
	left: 60%;
	margin: 0 auto 20px;
	background-color: #fff;
	overflow: hidden;
}

.login_banner_panel .panel .mainbox{
	padding: 27px 0 24px;
}

.login_banner_panel .panel .mainbox .nav-tabs-panel{
	display: block;
}

.login_banner_panel .panel .mainbox .nav-tabs-panel .nav-panel{
	text-align:center;
	font-size: 24px;
	color: #e0e0e0;
}

.login_banner_panel .panel .mainbox .nav-tabs-panel .nav-panel .nav-link{
	color: #666;
}

.login_banner_panel .panel .mainbox .nav-tabs-panel .nav-panel .active{
	color: #f56600;
}

.login_banner_panel .panel .mainbox .nav-tabs-panel .nav-panel .line{
	margin: 0 35px 0 42px;
	border-left: 2px solid #e0e0e0;
}
.login_banner_panel .panel .mainbox .static_form{
	margin-left: 50px;
}

.login_banner_panel .panel .mainbox .static_form .field{
	margin-top: 20px;
	position:relative;
}

.login_banner_panel .panel .mainbox .static_form .field label{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 1px;
	top: 1px;
}

.login_banner_panel .panel .mainbox .static_form .field .logo_text{
	width: 240px;
	font-size: 18px;
	line-height: 18px;
	height: 27px;
	padding: 12px 8px 12px 50px;
	border: 1px solid #ddd;
	text-indent: 10px;
}

.login_banner_panel .panel .mainbox .static_form .submit{
	margin-top: 20px;
}

.login_banner_panel .panel .mainbox .static_form .submit .sub{
	width: 300px;
	height: 42px;
	border: 0 none;
	display: inline-block;/
	overflow: hidden;
	vertical-align: middle;
	line-height: 42px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	background: #f40;
	cursor: pointer;
}

.login_banner_panel .panel .mainbox .static_form .entries .other{
	margin-top: 24px;
	line-height: 14px;
}

.login_banner_panel .panel .mainbox .static_form .entries .other .weibo{
	display: inline-block;
	margin-right: 20px;
	color: #6c6c6c;
}

.login_banner_panel .panel .mainbox .static_form .entries .other a:hover{
	color: #f40;
}

.login_banner_panel .panel .mainbox .static_form .login_links{
	margin-top: 25px;
	overflow: hidden;
	text-align: right;
}

.login_banner_panel .panel .mainbox .static_form .login_links a{
	margin-right: 10px;
	color: #6c6c6c;
}

.login_banner_panel .panel .mainbox .static_form .login_links a:hover{
	color: #f40;
}

.login_banner_panel .panel .mainbox .other_panel{
	margin: 5px 50px 0 50px;
}

.login_banner_panel .panel .mainbox .other_panel .sms_link{
	display: block;
	margin-top: 5px;
}

.login_banner_panel .panel .mainbox .other_panel .sms_link .btna{
	color: #ef5b00;
	border:0 none;
	height: auto;
	line-height: normal;
	margin: 0;
	background: #fff;
	width: 100%;
	font-size: 12px;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .n_links_area{
	padding-top: 0;
	float: right;
	margin-top: -20px;
	font-size: 12px;
	text-align:center;
	color: #999;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .n_links_area .outer-link{
	color: #999;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type{
	padding-top: 0px;
	position: absolute;
	top: 400px;
	width: 100%;
	left: 0px;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type .oth_type_title{
	border: 0;
	border-top: 1px solid #e0e0e0;
	padding-top: 10px;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type .oth_type_title .oth_type_text{
	color: #bbb;
	font-size: 14px;
	margin: 0px auto;
	text-align:center;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type .oth_type_links{
	padding-top: 3px;
	text-align: center;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type .oth_type_links .icon_type{
	margin: 0 17px;
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
	background-color: #666;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type .oth_type_links .btn_qq .btn_icon_qq{
	display: block;
	margin: 4px auto 0;
	background-image: url(/homes/img/login/icons_type.png);
	width: 18px;
	height: 18px;
	background-position: -19px 0;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type .oth_type_links .btn_qq:hover{
	background-color: #0288d1
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type .oth_type_links .btn_weibo .btn_icon_weibo{
	display: block;
	margin: 4px auto 0;
	background-image: url(/homes/img/login/icons_type.png);
	width: 18px;
	height: 18px;
	background-position: -38px 0;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type .oth_type_links .btn_weibo:hover{
	background-color: #d32f2f;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type .oth_type_links .btn_alipay .btn_icon_alipay{
	display: block;
	margin: 4px auto 0;
	margin-top: 6px;
	margin-left: 4px;
	background-image: url(/homes/img/login/icons_type.png);
	width: 18px;
	height: 18px;
	background-position: -57px 0;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type .oth_type_links .btn_alipay:hover{
	background-color: #0ae;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type .oth_type_links .btn_weixin .btn_icon_weixin{
	display: block;
	margin: 4px auto 0;
	margin-top: 6px;
	background-image: url(/homes/img/login/icons_type.png);
	width: 23px;
	height: 18px;
	background-position: -84px 0;
}

.login_banner_panel .panel .mainbox .other_panel .reverse .other_login_type .oth_type_links .btn_weixin:hover{
	background-color: #00d20d;
}

.n-footer{
	background: #fff;
	margin-top: 50px;
	height: 80px;
	text-align:center;
}

.n-footer .nf-link-area{
	text-align: center;
}

.n-footer .nf-link-area ul li{
	display: inline-block;
	font-size: 12px;
}

.n-footer .nf-link-area ul li a{
	color: #757575;
}

.n-footer .nf-intro{
	font-size: 11px;
	color:#757575;
}

.n-footer .nf-intro a{
	color:#757575;
	font-size: 12px;
}

