.xiangqing{width: 100%;height: 58px;background: rgb(240,240,240);}
.xiangqing .neirong{height: 58px;width: 1226px;}
.xiangqing .neirong .xiaomi6{width:300px;height: 58px;line-height: 58px;font-size: 
22px;font-weight: bold;}
.xiangqing .neirong nav{display:inline-block;width: 410px;height: 58px;line-height: 58px;}
.xiangqing .neirong nav li{font-size:14px;float: left;display: block;margin:0px 5px;}
.xiangqing .neirong nav li a{color: #333;font-size: 14px;}
.jieshao{height: 560px; }
.jieshao .left{width:560px;height:560px;border:1px solid #ccc;}
.jieshao .right{width:620px;height: 600px;}
.jieshao .right .jianjie{font-size: 14px;color: rgb(176,176,176);line-height: 20px;}
.jieshao .right .jiage{font-size: 18px;color:#ff6700;font-weight: bold;}
.jieshao .right .xzbb{height: 58px;line-height:58px;}
.jieshao .right .xzbb .banben{height: 58px;line-height: 58px;width: 278px;cursor:pointer;margin-right: 5px;border:1px solid #bbb;}
.jieshao .right .xzbb .banben a{display:block;font-size: 18px;color:#000;padding:0 10px;}
.jieshao .right .xzbb .banben a span{display: inline-block;margin-right: 10px;}
.jieshao .right .xzbb .banben a .yuandian{display: inline-block;height: 15px;width: 15px;border-radius: 50%;background: #000;margin-left: 80px;}
.xqxq{height: 80px;width: 555px;background: rgb(255,255,255);padding:20px;}
/*是否下单*/
.xiadan{height: 50px;line-height: 50px;}
.xiadan .jrgwc{height: 50px;width: 200px;border:none;background:#ff6700;color:#fff;font-size: 18px;font-weight: bold;cursor:pointer;margin-right: 50px;}
.xiadan .jrgwc:hover{border:1px solid #fff;}
.fl{
	float: left;
}

.fr{
	float: right;
}
img{border:none;}
/*a{border:none;text-decoration: none;color:#000;}*/
.border{border:1px solid red;}
.center{margin: 0 auto;}
.w{width: 1226px;margin: 0 auto;}
.fl{float: left;}
.fr{float: right;}
.clear{clear:both;}
.mt20{margin-top: 20px;}
.mt10{margin-top: 10px;}
.ml20{margin-left: 20px;}
.ml40{margin-left: 40px;}
.mr40{margin-right: 40px;}
.mb20{margin-bottom: 20px;}
.border2{border:2px solid #ff6700;}
.ft20{font-size: 20px;}
.ftbc{color: #ff6700;font-weight: bold;}
.pr{padding-right: 40px;}

.h3{font-size: 22px;font-weight: bold;}

.price{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

li{
	list-style: none;
}

.content{
	border-top: 1px solid #666;
	margin-top: 50px;
	background: #f8f8f8;
}

.nav{
	overflow: hidden;
}

.cen{
	width: 1200px;
	margin: 0 auto;
}

.nav .notice_hd{
	width: 200px;
	margin: 0px auto;
}

.selected a{
	color: #f40;
}

.nav li{
	font-size: 30px;
	float: left;
	list-style: none;
	margin: 0 auto;
}

.nav li a{
	margin-left: 30px;
}

.notice_bd{
	width: 100%;
	padding-bottom: 50px;
	overflow: hidden;
}

.notice_bd h6{
	width: 100%;
	overflow: hidden;
	display: none;
}

.comment-order-title{
	height: 60px;
	line-height: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}

.comment-order-title .comment-name{
	color: #424242;
}

.comment-box-list .item-rainbow{
	border-left: 2px solid #00c0a5;
	margin-bottom: 14px;
	padding-top: 45px;
	padding-left: 105px;
	background: #fff;
	padding-bottom: 60px;
	position: relative;
}