a{
	color: #757575;
}

#item{
	width: 228px;
}

#info-item{
	width: 140px;
}

.user-address-list{
	padding: 30px;
}

.user-address-list .address-item{
	width: 268px;
	height: 178px;
	float: left;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	margin-right: 17px;
	margin-bottom: 20px;
	position: relative;
}

.address-item-new{
	text-align: center;
	color: #b0b0b0;
}

.address-item-new:hover{
	color: #666;
}

.address-item-new .ico{
	width: 30px;
	height: 30px;
	display: block;
	margin: 63px auto 8px;
	font-size: 30px;
	line-height: 30px;
	border-radius: 17px;
	text-align:center;
}

.address-item dl{
	padding: 15px 24px 0;
	margin: 0;
	display: block;
}

.address-item dt{
	margin:0 0 10px;
	line-height: 30px;
	display: block;
}

.address-item .uname{
	font-size: 18px;
	color: #333;
	font-weight: normal;
}

.address-item dd{
	margin: 0;
	line-height: 22px;
	color: #757575;
	display: block;
}

.address-item .actions{
	position: absolute;
	right: 24px;
	bottom: 10px;
}

.address-item .modify{
	display: none;
	margin-left: 10px;
	color: #ff6700;
}




/*点击添加css样式*/

#item_new_div{
	width:0px;
	height:0px;
	background:rgba(0,0,0,0.4);
	position:fixed;
	left:0px;
	top:0px;
	z-index: 1000;
	display: none;

}
.item_new_info{
	width:660px;
	height:460px;
	background:#fff;
	position: absolute;
	left:0px;
	top:0px;
	z-index: 9999;
}

.modal-header{
	position: relative;
	padding: 14px 20px;
	background-color: #f5f5f5;
	overflow: hidden;
}

.modal-header .title{
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 32px;
	color: #424242;
}

.item_new_info .close{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align:center;
	cursor: pointer;
	border-radius: 15px;
	position: absolute;
	right: 14px;
	top: 20px;
	z-index: 10;
}

.item_new_info .close:hover{
	background-color: #CD0000;
	color: #fff;
}

#cancel{
	font-size: 12px;
	line-height: 30px;
	vertical-align: middle;
	font-weight: normal;
}

.form-control{
	width: 200px;
}